.movieDetails {
    width: 95%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.movieDetailsCard div > .backdrop {
    width: 100%;
    height: auto;
    margin-left: 30px;
    opacity: 70%;
    filter: blur(5px);
    position: relative;
}

.movieDetailsCard div > .poster {
    width: 350px;
    height: 525px;
    border-radius: 30px;
    position: absolute;
    left: 80px;
    top: 180px;
}

.genres {
    color: #ffbd59;
    font-size: larger;
}

.movieDetailsCard div:nth-child(2) {
    color: white;
    position: absolute;
    left: 500px;
    top: 190px;
    right: 80px;
}

.movieDetailsCard div:nth-child(2) > h1 {
    color: #f10000;
    margin: 10px 0;
}

.rating {
    margin-top: 5px;
    margin-bottom: 5px;
}

.release {
    margin-top: 5px;
    margin-bottom: 5px;
}

.overview {
    background-color: #3B3131;
    opacity: 60%;
    margin-top: 20px;
    padding: 0 15px 10px;
    border: none;
    border-radius: 20px;
}
.overview > h3 {
    margin-left: 0;
    padding-top: 10px;
}

.company {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.company img {
    width: 110px;
    margin-right: 20px;
}

.video {
    width: 100%;
    margin-top: 30px;
    margin-left: 30px;
}

.video h3 {
    margin-bottom: 20px;
}

.video span {
    color: white;
    padding-top: 10px;
    font-size: 14px;
}

.cast {
    width: 100%;
    margin-top: 30px;
    margin-left: 30px;
}

.cast h3 {
    margin-bottom: 20px;
}

.profile {
    width: 100%;
    height: 210px;
}

.profile  .pp {
    border-radius: 15px;
}
.profile p {
    color: white;
    font-size: 14px;
    margin-top: 5px;
    padding-right: 15px;
}
.profile span {
    color: silver;
    font-size: 12px;
    padding-right: 15px;
}

.profile .unknown {
    background-color: white;
    border-radius: 15px;
}

.profile1 {
    width: 200px;
    height: 210px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.profile1  .pp {
    border-radius: 15px;
    position: relative;
    
}

.profile1 .unknown {
    background-color: white;
    border-radius: 15px;
}

.others {
    width: 100%;
    margin-left: 30px;
    background-color: #ffbd59;
    display: grid;
    grid-template-columns: auto auto auto;
    border-radius: 20px;
    border: none;
}

.others p {
    margin-left: 30px;
    padding: 10px 0 10px;
    font-weight: bold;
}

.others span {
    font-size: 15px;
    font-weight: lighter;
}

/**.tvDetails {
    width: 95%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.tvDetailsCard div > .backdrop {
    width: 100%;
    height: auto;
    margin-left: 30px;
    opacity: 70%;
    filter: blur(5px);
    position: relative;
}

.tvDetailsCard div > .poster {
    width: 350px;
    height: 525px;
    border-radius: 30px;
    position: absolute;
    left: 80px;
    top: 180px;
}

.tvDetailsCard div:nth-child(2) {
    color: white;
    position: absolute;
    left: 500px;
    top: 190px;
    right: 80px;
}

.tvDetailsCard div:nth-child(2) > h1 {
    color: #f10000;
    margin: 10px 0;
}**/











